<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:ml="http://typo3.org/ns/Fab/Mailing/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<f:if condition="{ml:context.isDevelopment()}">
		<f:render section="FormError" partial="Form/Error" arguments="{_all}"/>
	</f:if>

	<f:form action="send" additionalAttributes="{role: 'form'}" method="post">

		<f:if condition="settings.displaySender">
			<div>
				<strong>{f:translate(key: 'sender')}</strong>
				<span>{senderName} &lt;{senderEmail}&gt;</span>
			</div>
		</f:if>

		<div>
			<strong>{numberOfRecipients} {f:translate(key: 'recipients') -> f:format.case(mode: 'lower')}</strong>
			<f:if condition="settings.displayRecipients">
				<span>-</span>
				<a href="#" onclick="return false" data-toggle="collapse" data-target="#list-recipients">
					{f:translate(key:'action.displayRecipients') -> f:format.case(mode: 'lower')} &raquo;
				</a>
			</f:if>
		</div>

		<div class="collapse" id="list-recipients">
			<f:for each="{recipients}" as="recipient">
				<f:if condition="{recipient.email}">
					<f:then>
						{recipient.email},
					</f:then>
					<f:else>
						<strong style="color: red">{f:translate(key: 'message.missingEmail')}
							{recipient.dataType}:{recipient.uid}</strong>,
					</f:else>
				</f:if>
			</f:for>
		</div>

		<div class="form-group">
			<label for="mailing-subject">{f:translate(key: 'subject')}</label>
			<f:form.textfield class="form-control"
			                  name="subject"
			                  required="required"
			                  id="mailing-subject"
			                  placeholder="{f:translate(key: 'subject')}"/>
		</div>

		<div class="form-group">
			<label for="mailing-body">{f:translate(key: 'body')}</label>
			<f:form.textarea class="form-control"
			                 name="body"
			                 style="min-height: 100px"
			                 id="mailing-body"
			                 placeholder="{f:translate(key: 'body')}"/>
		</div>
		<button type="submit" class="btn btn-default">{f:translate(key: 'send')}</button>

		<f:comment><!-- VH to limit bots annoyance (optional) --></f:comment>
		<ml:honeyPot/>

		<f:comment><!--Display hint in Development context (optional) --></f:comment>
		<ml:message.development/>
	</f:form>

</f:section>
</html>
